body {
    background-color: #31a691;
}
blockquote p {
    color: #ffffff;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: 300;
    line-height: 40px;
    margin: 0 30px 40px;
    text-align: center;
    text-shadow: #2a8d7b -1px -1px;
}

p.author {
    color: #217969;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 3px;
    text-align: center;
    text-shadow: #53b4a2 1px 1px;
    text-transform: uppercase;
}

p.author span {
    color: #217969;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
}